<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title>Document</title>
</head>
<style>
    body{
        background-color: rgb(218, 218, 218);
    }h1{
        color:blue;
        text-decoration: underline;
        text-align: center;
        margin-top:5vh;
        
    }
    form{
        background-color: cadetblue;
        padding:5%;
        width:80%;
        margin-left: 10%;;
        border:1px solid grey;
        border-radius:10px;
    }
    label{
        color:white;
    }
    </style>
<body>



    <div class="container">
<h1>
<%= title %> 
</h1>

<p>
<%= username %>  </p>
<p>
<%= password %>
</p>
</div>

</body>
</html>